* {
  box-sizing: border-box;
  font-size: 18px;
}

.navbar {
  background-color: #026aa7;
  padding: 1rem;
}

.navbar-home {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.trello-logo {
  width: 7%;
}

.boards {
  width: 12em;
  height: 8em;
  background-color: #026aa7;
  color: white;
  padding: 1rem 2rem;
  margin: 0.36rem;
  border-radius: 0.6rem;
}

.create-board {
  background-color: white;
  padding: 1.5rem;
}

.create-board-buttons {
  margin-top: 2rem;
}

.create-board-close-button {
  margin-right: 1rem;
}

.boards-container {
  width: 100vw;
  height: 92vh;
  padding: 3rem;
}

.boards-create-board {
  width: 12rem;
  height: 8rem;

  background-color: lightgrey;
  border-radius: 0.6rem;

  margin: 0.2rem;
}

.remove-text-decoration {
  text-decoration: none;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 2rem;
}
/* 
.lists {
  width: 12rem;
  height: 8rem;
  margin: "1rem";
  min-width: "350px";
} */

.main-container{
    display: flex;
    flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border: 0.5rem;
  border-radius: 0.5rem;
  background-color: lightgray;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
}

.add-card {
  padding: 0.65rem;
  margin: 0.8rem;
}
